* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #ff4655; /* Valorant red */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #cc3742;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Image Container Fixes */
#imageContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

#imageContainer img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
}

img.loaded {
    opacity: 1; /* Fade in effect */
}

/* Dark theme */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme button {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.dark-theme select {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.dark-theme #imageContainer img {
    filter: brightness(1);
}

.dark-theme #nameContainer p {
    color: white;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    body {
        text-align: center;
    }

    .container {
        width: 80%;
        padding: 20px;
    }

    #imageContainer {
        width: 100%;
    }

    img {
        width: 80%;
        max-width: 300px;
    }

    button {
        width: 90%;
        max-width: 250px;
        padding: 12px;
        font-size: 16px;
    }
}

/* Keyframes for Shuffle Animation */
@keyframes shuffle {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(10deg);
    }
    50% {
        transform: scale(1) rotate(-10deg);
    }
    75% {
        transform: scale(1.1) rotate(5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* Apply animation to image container when generating an agent */
#imageContainer.shuffle {
    animation: shuffle 0.5s ease-out;
}

/* Loading state */
#imageContainer.loading::after {
    content: "Loading...";
    font-size: 1.2rem;
    color: #ff6f61;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
